<% @title = "Services | Galanthus Gardens" %>
<h1 class="services-header">Residential and commercial garden maintenance and lawn care in  Greater Vancouver</h1>

<div class="services-container">
  <div class="lawn-care-div">
    <p class="service-spec-header">Lawn Care</p>
    <p class="service-spec-desc">Weekly/biweekly mowing, raking, and edging.  Aeration, fertilizing, power raking</p>
  </div>

  <div class="pruning-div">
    <p class="service-spec-header">Pruning</p>
    <p class="service-spec-desc">Trimming hedges, shrubs and small trees</p>
  </div>

  <div class="seasonal-clean-ups-div">
    <p class="service-spec-header">Seasonal Clean Ups</p>
    <p class="service-spec-desc">Installation of seasonal colour displays weeding</p>
  </div>
</div>
