<% @title = "Home | Galanthus Gardens" %>

<%= image_tag "galanthus_image.png", class: "logo-main" %>

<p class="web-hook">Providing landscaping services in the Greater Vancouver area</p>

<p class="web-hook-second">Our small crew allows you to build a personal and trusting relationship with your gardener!</p>

<div class="consultation-box">
  <h3 class="consultation-box-header">Book a free consultation</h3>

  <%= render "/consultations/consultation_form" %>
</div>
