// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-main {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.web-hook {
  color: rgb(125, 148, 94);
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.web-hook-second {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

.consultation-box {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: darkgrey;
  border-radius: 5px;

  .consultation-box-header {
    color: white;
    padding-top: 15px;
    text-align: center;
  }

  .consultation-contact-info {
    text-align: center;

    .consultation-box-email {
      padding-top: 15px;
    }

    .consultation-box-phone {
      padding-top: 15px;
    }
  }
}

.consultation-author-field {
  display: inline-block;
  width: 200px;
}

.consultation-desc-field {
  display: inline-block;
  width: 250px;
  margin-left: 20px;
}

.consultation-desc-label {
  margin-right: 5px;
  float: left;
}

.consultation-inputs {
  margin-left: 20px;
}

.consultation-desc-input {
  margin-top: 10px;
}
